<ion-card>

  <ion-card-header>
    <ion-card-title class="font-text">Configuraciones APP</ion-card-title>
  </ion-card-header>

  <ion-list [inset]="true">
    <ion-item class="pad-items" [button]="true">
      <ion-icon name="settings" slot="start" size="large"></ion-icon>
      <ion-label>General</ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
    <ion-item class="pad-items" [button]="true">
      <ion-icon name="color-palette" slot="start" size="large"></ion-icon>
      <ion-label>Temas</ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
    <ion-item class="pad-items" [button]="true">
      <ion-icon name="shield-half-sharp" slot="start" size="large"></ion-icon>
      <ion-label>Seguridad</ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
    <ion-item class="pad-items" [button]="true">
      <ion-icon name="notifications-sharp" slot="start" size="large"></ion-icon>
      <ion-label>Recordatorios</ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
    <ion-item class="pad-items" [button]="true">
      <ion-icon name="file-tray-full-sharp" slot="start" size="large"></ion-icon>
      <ion-label>Archivo de Habitos</ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
  </ion-list>

</ion-card>