.card-habit {
    background-color: #598987;
}

.sizebutton {
    height: 100%;
    width: 100%;
}

.colorwhite {
    background-color: black !important;
    color: white;
}

.padd-item {
    padding: 15px;
}

.bgmodal {
    background-color: black;
}